# Cluster Configuration
CLUSTER_NAME=${CLUSTER_NAME}
ACCOUNT_NAME=${ACCOUNT_NAME}
ACCOUNT_ID=${ACCOUNT_ID}
ACCOUNT_NAMESPACE=${ACCOUNT_NAMESPACE}
REGION=${REGION}
ENVIRONMENT=${ENVIRONMENT}

# Networking
VPC_CIDR=${VPC_CIDR}
PUBLIC_SUBNET_A_CIDR=${PUBLIC_SUBNET_A_CIDR}
PUBLIC_SUBNET_B_CIDR=${PUBLIC_SUBNET_B_CIDR}
PRIVATE_SUBNET_A_CIDR=${PRIVATE_SUBNET_A_CIDR}
PRIVATE_SUBNET_B_CIDR=${PRIVATE_SUBNET_B_CIDR}

# Kubernetes
K8S_VERSION=${K8S_VERSION}
NODE_COUNT=${NODE_COUNT}
NODE_TYPE=${NODE_TYPE}