apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ${ACCOUNT_NAMESPACE}

resources:
  - networking
  - permissions
  - definition
  - system
  - management

configMapGenerator:
  - name: ${CLUSTER_NAME}-config
    envs:
      - cluster-config.env