apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Cluster definition will be added here
  # - cluster.yaml
  # - control-plane.yaml
  # - machine-pool.yaml

configMapGenerator:
  - name: cluster-definition
    namespace: ${ACCOUNT_NAMESPACE}
    literals:
      - CLUSTER_NAME=${CLUSTER_NAME}