apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: aws-test-account-1

resources:
  - ../../base
  - account-info.yaml
  - provider-config.yaml
  - cluster-role-identity.yaml

patches:
  # Update namespace name
  - target:
      kind: Namespace
      name: aws-account
    patch: |-
      - op: replace
        path: /metadata/name
        value: aws-test-account-1
      - op: add
        path: /metadata/labels/account.aws~1alias
        value: test-account-1

  # Update CAPA IAM roles
  - target:
      kind: CAPAIAMRoles
      name: capa-iam
    patch: |-
      - op: replace
        path: /spec/accountId
        value: "137457118074"
      - op: replace
        path: /spec/providerConfigRef/name
        value: test-account-1
      - op: add
        path: /spec/tags/Environment
        value: development
      - op: add
        path: /spec/tags/AccountAlias
        value: test-account-1

  # Update VPC configuration
  - target:
      kind: VPC
      name: main
    patch: |-
      - op: replace
        path: /spec/providerConfigRef/name
        value: test-account-1
      - op: replace
        path: /spec/cidrBlock
        value: "10.2.0.0/16"
      - op: add
        path: /spec/tags/Name
        value: test-account-1-main-vpc
      - op: add
        path: /spec/tags/Environment
        value: development
      - op: add
        path: /spec/tags/AccountAlias
        value: test-account-1